# Salin file ini menjadi .env dan isi nilainya
# cp .env.example .env

# Django
SECRET_KEY=ganti-dengan-secret-key-yang-panjang-dan-random
DEBUG=False
ALLOWED_HOSTS=your-domain.com,www.your-domain.com,your-vps-ip

# Timezone
TIME_ZONE=Asia/Jakarta
